.download_button_block {
    border: #eae6e2;
    margin-left: 25px;
}

.download_button {
    color : #eae6e2;
    border : 1px solid #eae6e2;
    transition: 0.4s;
    padding: 5px 15px;
}

.download_button:hover {
    color: #eae6e2;
    background-color: #e07789;
    border : 1px solid #e07789;
}

@media (max-width: 480px) {
    .download_button_block {
        width: 100%;
        margin-left: 0;
    }
    .download_button_block button {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 992px) {
    .download_button_block  {
        width: calc(50% - 10px);
        margin-left: 20px;
    }
    .download_button_block button {
        width : 100%
    }
}
