.bomContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

.title {
  font-size: 2rem;
  color: #e07789;
  margin-bottom: 20px;
  font-weight: bold;
}

.section {
  max-height: 650px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #eae6e2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: black;
}

.table th {
  background-color: #e07789;
  color: #eae6e2;
  font-weight: bold;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td a {
  color: #609ea8;
  text-decoration: none;
}

.table td a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.image {
  width: 90px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }

  .table {
    display: block;
    width: 100%;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: block;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding: 10px;
  }

  .table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: small;
  }

  .table td:before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td img {
    max-width: 40px;
  }
}