.inner_page .nav-tabs {
}

.inner_page svg {
    height: 600px;
    width: 100%;
}

.loading {
    height: 100%;
    color: white;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not_data{
    height: 100%;
    color: white;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 90px;
}
