.inner_page  {
    height: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex: 1;
    padding-top:70px;
}

.inner_page svg {
    width: 100%;
}

.loading {
    height: 100%;
    color: white;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not_data{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 90px;
    flex-direction: column;
    flex: 1;

}


@media (max-width: 767px) {
    .not_data {
        font-size: 35px;        
    }
    .inner_page  {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
    }
}
