.section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

.section > h2 {
  color: #e07789;
  margin-bottom: 20px;
  font-weight: bold;
}

.downloadContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.downloadButton {
  width: 100%;
  padding: 5px;
  background-color: #e07789;
  color: #eae6e2;
  border: 1px solid #e07789;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.downloadButton:hover {
  background: transparent;
  color : #e07789;
  border: 1px solid #e07789;
  transition: all 0.3s ease-in-out;
}

.readmeStyle {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.readmeStyle pre {
  background-color: #423f3f;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  /*width: 100%;*/
  overflow-x: auto;
  display: flex;
  align-items: center;
  position: relative; 
}

.readmeStyle code {
  flex: 1;
}

.copyContainer {
  position: absolute;
  right: 10px; /* Adjust to your preference */
  display: flex;
  align-items: center;
  width: 60px; /* Fixed width to prevent layout shift */
  justify-content: flex-end; /* Align text/icon to the right */
}

.copy {
  cursor: pointer;
}

.copiedText {
  color: #008e63;
  font-size: 0.8em;
  margin-left: 5px;
  white-space: nowrap;
  position: relative;
  top: 7px;
}

.doneIcon {
  color: #008e63;
  font-size: 1.2em; /* Adjust size as needed */
}

.link {
  text-decoration: none;
  color: #e07789;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #4A8AFA;;
}

.network ol{
  padding-left: 20px;
}

.network ul{
  padding-left: 0;
  list-style: none;
}

.setup ol{
  padding-left: 20px;
}
.setup h2{
  color:#e07789;
  font-weight: bold;
}
.wrong{
  color: #c7bc42;
}

.code{
  cursor: text;
  overflow: auto;
}

.precode{
  margin-left: 20px;
}

@media (max-width: 768px) {
  .downloadContainer {
    flex-direction: column;
  }
  .readmeStyle code {
    max-width: 90%;
  }
}