.api_page {
    padding: 25px 25px 50px;
    color: #eae6e2;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.title {
    font-size: 24px;
    color: #e07789;
}

.about_section {
    padding-top: 15px;
    font-size : 16px;
}

.link {
    color: #e07789;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #4A8AFA;;
}

.measurement_description {
    padding-top: 40px;
}


.measure_title {
    color: #e07789;
    font-size: 16px;
    margin-bottom: 20px;
}

.sub_title_3 {
    color: #e07789;
    font-size: 14px;
    margin-bottom: 10px;
}

.API_section ul, ol{
    padding-left: 60px;
}

.examples{
    padding-left: 20px;
}

.link {
    text-decoration:  none;
}


@media (max-width: 425px) {
    .title{
        font-size: 18px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .title{
        font-size: 20px;
    }
}