.innerLeftNav {
    background-color: #282A2D;
    min-width: 320px;
    width : 320px;
    height: calc(100vh - 254px);
    overflow: auto;
}

@media (max-width: 767px) {
    .innerLeftNav {
        order: 2;
        width: 100vw;
    }
}
