.innerLeftNav {
    background-color: #282A2D;
    min-width: 320px;
    width : 320px;
    max-height:calc(100vh - 70px);
    min-height: 78vh;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .innerLeftNav {
        order: 2;
        width: 100vw;
        height: fit-content;
     }
}
