section {
    padding: 20px;
}

.iframeContainer {
  justify-content: center;
  align-items:center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.iframe {
  width: 100%;
  height: 600px;
  border: none;
  column-count: 2;
}
.videos {
  width:100%;
}
.videos iframe {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .videos {
    width: 50%;
  }
}

