.buttonContainer {
    display: flex;
}

.button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chart_div {
    height: 400px;
}

.tabs_section button[aria-selected='true'] {
    color: #DF7788 !important;
    background-color: #232222 !important;
    margin: 0 !important;
}

.tabs_section button:hover {
    color: #DF7788;
}

.tabs_section button {
    border: none !important;
    color: white;
}

.filter_section {
    color: #df7788;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px 15px;
}

.date_format {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.filter_label {
    margin-right: 15px;
}

.filter_button {
    border: 1px solid #232222;
    background-color: #df7788;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.4s;
}

.filter_button:hover {
    border: 1px solid #df7788;
    color: #df7788;
    background-color: #232222;
}

#chart svg{
        height:inherit;
}

#chart text, tspan, span {
    fill: white;
    color : white !important;
}

#chart .apexcharts-tooltip {
    color : black
}

.chart_section {
    height: 10px;
    padding: 30px;
}

.chart_section text {
    fill : white
}

@media (min-width: 481px) and (max-width: 992px) {
    .date_format input {
        width: 130px;
    }
    .date_format {
        width: calc(50% - 10px);
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .date_format:last-of-type {
        margin-right: 0;
    }

    .filter_button {
        width: calc(50% - 10px);
    }

}


@media (max-width: 480px) {
    .filter_section {
        display: flex;
        flex-direction: column;
    }

    .date_format {
        padding-bottom: 30px;
    }

    .filter_label {
        width: 120px;
    }
    .filter_button {
        /*margin-right: 30px;*/
        margin-bottom: 30px;
    }

    .tabs_section {
        display: flex;
        flex-wrap: nowrap;
    }
    .tabs_section li {
        width: calc(100% / 3);
    }
    .tabs_section  button {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.fullscreen_button {
    height: 15px;
    width: 15px;
}


