.app {
  padding: 20px;
  color: #df7788;
}

header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  color: #df7788;
}

.titles {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.iframeContainer {
  display: flex;
  justify-content: center;
  background-color: #232222; /* Set to your website's background color */
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 600px;
  border: none;
}

.videos iframe{
  margin-right: 10px;
}

h2 {
  color: #df7788;
}

.subTitles {
  padding-top: 10px;
  padding-bottom: 10px;
}

.downloadContainer {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
  margin-top: 15px;
  margin-bottom: 15px;
}

.downloadButton {
  width: 100%; /* Full width buttons */
  padding: 5px;
  background-color: #df7788;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.downloadButton:hover {
  background-color: #ca6475;
}

.readmeStyle {
  background-color: #232222;
  border: 1px solid #3b3b3b;
  padding: 20px;
  border-radius: 5px;
}

.readmeStyle pre {
  background-color: #423f3f;
  border-left: 4px solid #e1e4e8;
  padding: 10px;
  margin: 10px 0;
  margin-left: 15px;
  overflow-x: auto;
}

.readmeStyle code {
  display: block;

  white-space: pre-wrap;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
}

.form input,
.form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}
