.progressBarContent {
}
.progressBar {
    width: 100%;
    height: 8px;
    position: relative;
    margin-top: 10px;
}

.segment {
    position: absolute;
    height: 100%;
}

.pointer {
    position: absolute;
    top: -4px;
    z-index: 10;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer span {
    width: 5px;
    height: 5px;
    background-color: #232222;
    display: flex;
    border-radius: 50%;
}

.airQualityTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #C2C2C3;
}

.airQualityStatus {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.airQualityStatus span {
    font-weight: 600;
}

.circle {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
}

.datetime {
    font-size: 14px;
    color: #C2C2C3;
}

.vsButton {
    display: flex;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #e07789;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e07789;
    margin-left: auto;
    transition: all 0.3s ease;
}

.vsButton:hover {
    border-color: #e07789;
    color: #e07789;
    background: rgba(224, 119, 137, 0.1);
    transition: all 0.3s ease;
}