.about_us_page {
    padding: 0 15px 23px;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.welcome_to {
    font-size: 24px;
    color: #df7788;
}

.about_section {
    padding-top: 15px;
    font-size : 16px;
}

.link {
    color: #df7788;
    transition: color 0.4s ease-in-out;
}

.link:hover {
    color: #0a53be;
}

.measurement_description {
    padding-top: 40px;
}