.about_us_page {
    padding: 0 15px 23px;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.welcome_to {
    font-size: 24px;
    color: #df7788 !important;
}

.about_section {
    padding-top: 15px;
    font-size : 16px;
}

.link {
    color: #df7788;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #4A8AFA;;
}

.measurement_description {
    padding-top: 40px;
}

.icon{
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.measure_title {
    color: #df7788;
    font-size: 16px;
    margin-bottom: 20px;
}

.sub_title_3 {
    color: #df7788;
    font-size: 14px;
    margin-bottom: 10px;
}

.table_block {
    overflow-x: auto;
}

.API_section ul, ol, .examples{
    padding-left: 60px;
}

.link {
    text-decoration:  none;
}

.highlighted {
    border-left: 4px solid #df7788; /* Border color */
    padding-left: 10px;
    background-color: rgba(223, 119, 136, 0.1); /* Background color */
    transition: all 0.3s ease;
}
