/* Materials.module.css */
.section {
  padding: 20px;
}

.iframeContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 600px; /* Adjust based on your needs */
  border: none;
}


.iframe #footer {
    display:none !important;
}