.about_us_section {
  color: #eae6e2;
}

.boxes {
  overflow: hidden;
  margin-top: 20px;
}

.title {
  font-size: 28px;
  color: #e07789;
}

.partners {
  margin-right: 30px;
}

.partner_logo {
  width : 59px;
  cursor: pointer;
}

.partner_link img{
  transition: transform .2s ease-in-out;
}

.magnifying-glass {
  position: relative;
  display: inline-block;
  cursor: zoom-in;
}

.magnifiedText {
  white-space: nowrap;
}

.magnified .magnifiedText {
  transform: scale(1.5); 
  transform-origin: top left;
}

.magnifiedText {
  transition: transform 0.3s ease-in-out;
}



@media (max-width: 767px) {
  .boxes {
    max-height: none;
  }
}