.app {
  min-height: 100vh;
  color: #333; /* Darker text for readability */
}

.section {
  margin: 0 auto;
  max-width: 1100px;
}

.title {
  background-image: url('../../assets/DIY/copper wire.jpeg');
  height: 55vh;
  background-size: cover;
  overflow: hidden;
  background-position: 30% 80%;
  padding: 10px;
  position: relative;
  display: flex; /* Add this line */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.title h1 {
  text-align: center;
  font-size: 3.5rem;
  animation: fadeInDown 1.5s ease-out;
}

.title h1 b {
  color: #df7788;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333232;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tab.active a {
  display: inline;
}

.tab a {
  font-size: 0.8rem;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.introduction {
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px;
}

.introduction h2 {
  color: white;
  font-size: 1.6rem;
  line-height: 40px;
}

.info ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  list-style: none;
}

.info ul li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: #df7788;
  font-size: 1.5rem;
  line-height: 1.2;
}

.info a {
  margin-top: 20px;
  font-size: 1.1rem;
}

hr {
  margin-top: 0;
}

@media (max-width: 768px) {
  .title {
    height: 30vh;
  }
  .title h1 {
    font-size: 1.5rem;
  }
  .tab {
    font-size: 0.8rem;
    padding: 8px 12px;
    width: 50px;
    height: 50px;
    border-radius: 5px; 
  }
  .introduction h2 {
    font-size: 1rem;
    left: auto;
  }
  .info ul {
    font-size: 1rem;
  }

  .navbar {
    justify-content: space-between;
    padding: 5px;
  }

  .tab.active {
    width: auto;
    height: auto;
    margin: 0 5px;
    background-color: #df7788;
    transform: scale(1);
  }

  .tab a {
    display: none;
  }

  .tab.active a {
    display: inline;
    margin-left: 5px;
  }
}

@media (min-width: 769px) {
  .icon {
    display: none;
  }

  .tab a {
    display: inline-block;
    font-size: 1rem;
  }

  .tab:hover a{
    color: #df7788;
    cursor: pointer;
  }

  .tab.active a{
    color: #df7788; /* Active tab background */
  }
  .tab.active{
    background-color: #232222;
  }
}