.app {
  min-height: 100vh;
}

.title {
  background-image: url('../../assets/DIY/copper wire.jpeg');
  height: 55vh;
  background-size: cover;
  overflow: hidden;
  background-position: 30% 80%;
  padding: 10px;
  position: relative;
}

.title h1 {
  text-align: center;
  position: relative;
  top: 20vh;

}

.title h1 b {
  color: #df7788;
}

.tabs {
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  justify-content: center;
  position: relative;
  bottom: 70px;
}

.tabs div {
  border: solid #e6e6e6;
  border-left:none;
  border-right:none;
  background-color: #4f4f4f;
  width: 200px;
  height: 120px;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  align-content: center;
  cursor: pointer;
}

.tabFont {
  margin-bottom: 0;
 }

.tab {
  border: white;
}

.tab:active {
  width: 220px;
  height: 140px;
  bottom: 80px;
}
.icon {
  font-size: xx-large;
  transition: all 0.3s ease-in-out;
    color: #df7788;
}

.activeIcon {
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.content {
  padding: 10px;
  /* You can add additional styling here for the content area */
}

.info {
  padding: 20px;
}

h3 {
  font-size: 20px;
}

@media (max-width: 768px) {
    .title {
      height: 30vh;
    }
    .title h1 {
      font-size: 19px;
      top: 10vh;
    }
    .tabs div {
      width: 60px;
      height: 60px;
      font-size: 7px;
      bottom: 40px;
      align-content: center;
    }
    .tabs {
      bottom: 35px;
      gap: 30px;
      justify-content: center;
    }
    .icon {
      font-size: large;
    }

    h3 {
      font-size: 19px;
    }
}