.label_for_input {
    position: relative;
    top: 39px;
    left: 10px;
}

.label_for_input {
    transition: all 0.3s ease-in-out;
}

.label_for_input.focused, .label_for_input:focus-within {
    top: 5px;
    left: 0;
}

.contact_us_section input, .contact_us_section select, .contact_us_section textarea {
    padding: 15px 15px 15px 10px;
    background: none !important;
}

.contact_us_section label {
    margin-bottom: 0;
}

.contact_us_section textarea {
    height: 145px;
    max-height: 145px;
    overflow: auto;
}


.name_field, .subject_input {
    padding-right: 5px;
}

.surname_field, .email_section {
    padding-left: 5px;
}

.contact_us_title {
    color : #df7788;
    font-size: 28px;
}

.input_block {
    background: none;
    border: none;
    border-bottom: 1px solid #df7788;
    border-radius: 0;
    color : white;
    padding-left: 3px;
}

.input_block:-webkit-autofill,
.input_block:-webkit-autofill:hover,
.input_block:-webkit-autofill:focus,
.input_block:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

.input_block:focus {
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #df7788;
    color : white
}

.contact_us_button {
    min-width: 150px;
    background: #df7788;
    border: 1px solid #df7788;
    border-radius: 5px;
    color : white;
}

.contact_us_button:hover {
    background: #232222;
    color : #df7788;
    border: 1px solid #df7788 ;
}

@media only screen and (max-width: 600px) {
    .name_field,.surname_field, .email_section, .subject_input {
        padding: 0;
    }
}

#name {
    background: blue;
}

.input_block,
.form-label {
  cursor: pointer;
}
