.name_field {
    padding-right: 5px;
}

.surname_field {
    padding-left: 5px;
}

.contact_us_title {
    color : #df7788;
}

.input_block {
    background: none;
    border: none;
    border-bottom: 1px solid #df7788;
    border-radius: 0;
    color : white;
    padding-left: 3px;
}

.input_block:focus {
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid #df7788;
    color : white
}

.input_block:focus + label {
    /* Запустите анимацию встряхивания и сделайте так, чтобы анимация длилась 0,5 секунды */
    animation: wave 0.8s;

    /* Когда анимация будет закончена, начните снова */
    animation-iteration-count: infinite;
}

.contact_us_button {
    min-width: 150px;
    background: #df7788;
    border: 1px solid #df7788;
    border-radius: 5px;
    color : white;
}

.contact_us_button:hover {
    background: #232222;
    color : #df7788;
    border: 1px solid #df7788 ;
}


.contact_block:hover label, .contact_block:focus-within label {
    animation: wave 0.8s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
}


@media only screen and (max-width: 600px) {
    .name_field,.surname_field {
        padding: 0;
    }
}

#name {
    background: blue;
}