.NearbyDevicesItem {
    width: 100%;
    padding: 10px;
    min-height: 50px;
    margin-bottom : 5px;
    transition: background-color 0.4s;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.NearbyDevicesItem:hover {
    background-color: #18181A;
}

.near_device_name {
    min-width: 120px;
    width: 120px;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.weather_icon {
    height: 25px;
}

.distance_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    max-width: 50px;
}

.distance_display span {
    font-size: 12px;
    line-height: 1.8;
    max-width: 100%;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.distance_icon {
    max-width: 32px;
}

.measure {
    font-size: 20px;
    min-width: 100px;
    width: 100px;
    max-width: 51px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.measurement_icon {
    /*position: relative;*/
    /*max-width: 20px;*/
    margin-left : 5px;
    max-width: 30px;
}

.temperature_measure sup{
    top : -0.5em;
    font-weight: 600;
}

.contentLoader{
    background-color: #fff;
    color: #000;
    size : 100px;
}
