/* General Container Styles */
.homeScreenTools {
    padding: 50px 25px 25px 25px;
}

.home_screen_title {
    margin-bottom: 25px;
    font-size: 28px;
    color: #e07789;
}

.homeScreenTools h2 {
    text-align: start;
    color: #e07789;
}
/* Mobile Styles */
.mobilePlatformButtons {
    display: none;
    justify-content: center;
}

.platformButton {
    padding: 6px 12px;
    min-width: 150px;
    border: 2px solid #eae6e2;
    background: transparent;
    color: #eae6e2;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.platformButton.active {
    background: #e07789;
    color : #eae6e2;
    border: 2px solid #e07789 ;
}

.mobileTutorials {
    display: none;
}

/* Desktop Styles */
.desktopTutorials {

}

.tutorialContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tutorialColumn {
    flex: 1;
    max-width: 350px;
    text-align: center;
}

.tutorialColumn video{
    width: 100%;
    margin-bottom: 10px;
}
.iosVideo {
    border-radius: 60px;
}
.androidVideo {
    border-radius: 49px;
}
.tutorialDescription {
    flex: 1;
    max-width: 420px;
    padding: 15px;
    color: #eae6e2;
    text-align: left;
}

.tutorialDescription h3 {
    margin-bottom: 15px;
    color: #eae6e2;
    font-size: 17px;
}

.iosSteps, .androidSteps {
    margin-bottom: 30px;
}

.tutorialDescription li{
    margin-bottom: 10px;
    line-height: 1.4;
}
.tutorialDescription ol{
    padding-left: 20px
}
/* Telegram Bot Section */
.telegramBot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.qrContainer img {
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
}

.qrContainer p {
    max-width: 300px;
    margin-top: 30px;
}

/* Mobile Breakpoint */
@media (max-width: 768px) {
    .mobilePlatformButtons {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
    }

    .mobileTutorials {
        display: block;
    }

    .desktopTutorials {
        display: none;
    }

    .tutorialItem {
        max-width: 300px;
        margin: 0 auto 30px;
        text-align: center;
    }

    .tutorialItem video  {
        width: 80%;
        margin-bottom: 10px;
    }
    .iosVideo {
        border-radius: 40px;
    }
    .androidVideo {
        border-radius: 32px;
    }
    .homeScreenTools {
        padding: 25px 0 ;
    }
}

/* Ensure proper spacing on medium screens */
@media (max-width: 768px) {
    .homeScreenTools {
        padding:0;
        margin-bottom: 50px;
    }

    .tutorialContainer {
        gap: 20px;
    }

    .tutorialColumn {
        max-width: 300px;
    }

    .iosVideo {
        border-radius: 49px;
    }

    .androidVideo {
        border-radius: 39px;
    }

    .qrContainer img {
        width: 150px;
    }
}