.footer {
    background: #333232;
}

.social_icons_block {
    display: flex;
}

.social_icons_block a {
    margin-right: 40px;
    position: relative;
    transition: transform 0.4s ease-in-out, color 0.3s ease-in-out;
}

.social_icons_block a:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: wave 1s infinite;
}

/* Apply the animation on hover */
.social_icons_block a:hover {
    animation: wave 1s infinite;
}


.social_icons_block svg {
    transition: color 0.4s;
}

.social_icons_block a:hover svg{
    color : #DF7788;
}

.social_icons_block a:last-of-type {
    margin-right: 0;
}

.social_icon svg{
    width: 46px;
    height: 46px;
    color: white;
}

/* Define the wave animation */
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
}

.company_information a, .company_information{
    color: white;
    text-decoration: none;
    transition: color 0.4s;
}

.company_information a:hover, .company_information:hover {
    color: #DF7788;
}

.company_information img {
    margin-right: 20px;
}

