.animation_block {
    background-image: url("/public/images/bg_lines.png");
    background-repeat: no-repeat;
    background-color: #232222;
    color: white;
    background-size: 100% 100%;
}

.animation {
    text-align: center;
}

.weather_station_image {
    height: 50px;
}

@media only screen and (max-width: 993px) {
    .third_animation {
        left: 50%;
        transform: translate(-50%, -50%);
    }

}


/*Mobile*/
@media (max-width: 767px) {

    .first_animation div{
        top: 230px !important;
    }
    .animation_block h1{
        min-width: 300px;
        font-size : 24px
    }
}
