.animation_block {
    background-image: url("../../assets/Banner/bg_lines.png");
    background-repeat: no-repeat;
    background-color: #232222;
    color: white;
    background-size: 100% 100%;
}

.animation {
    text-align: center;
}

.weather_station_image {
    height: 50px;
}

@media only screen and (max-width: 993px) {
    .third_animation {
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.zero_animation h2{
    font-size: 28px !important;
    width : 90%;
    margin : 0 auto;
    line-height: 1.2;
    padding-top: 60px;
    font-weight: 500;
}

.first_animation h2,
.second_animation h2,
.third_animation h2{
    font-size: 38px !important;
    margin : 0 auto;
    line-height: 1.2;
    padding-top: 60px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .zero_animation h2{
        font-size: 20px !important;
    }
    .first_animation h2,
    .second_animation h2,
    .third_animation h2 {
        font-size: 23px !important;
    }
    .first_animation div{
        top: 230px !important;
    }
    .animation_block h2{
        min-width: 300px;
        font-size : 24px
    }
}

