.InnerPageFilterSection {
    display: none;
}

.InnerPageFilterSection:hover {
    cursor: pointer;
}

.filterItemBlock {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #C2C2C3
}

.filterItemBlock span:hover {
    cursor: pointer;
}

.filterItemBlock svg {
    height: 20px;
    width: 20px;
    fill: #eae6e2;
    margin-right: 25px;
}

.active>* {
    fill: #4A8AFA !important;
    color: #4A8AFA;
}

.closeBtn {
    display: none;
}

.filter_button {
    border: 1px solid #232222;
    background-color: #e07789;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.4s;
    margin-top: 40px;
}

.filter_button:hover {
    border: 1px solid #e07789;
    color: #e07789;
    background-color: #232222;
}

.blurOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(4px); /* Apply blur */
    z-index: 13; /* Ensure it appears below the popup */
}

@media (max-width: 767px) {
    .InnerPageFilterSection {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, auto);
        width: 100%;
        background-color: black;
        position: fixed;
        top: 100;
        bottom: 0;
        z-index: 1000;
        align-items: start;
        padding: 10px;
        justify-content: space-between;
    }

    .filterItemBlock {
        display: flex;
        max-width: fit-content;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-top: none;

    }

    .filterItemBlock svg,
    .filterItemBlock span {
        align-self: center;
        margin-right: 0;
    }

    .filterItemBlock span {
        font-size: clamp(12px, 14px, 16px);
    }

    .pickerContainer {
        position: fixed;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #353030;
        border-radius: 5px;
        z-index: 14;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #606060;
    }

    .btnWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .closeBtn {
        display: block;
        position: relative;
        border: none;
        cursor: pointer;
        align-self: flex-end;
        margin: 10px 10px 0 20px;
        background: transparent;
        font-size: 25px;
    }

    .mobile_range_text {
        font-family: 'Ping';
        padding: 10px 20px 0 20px;
    }
    .filter_button{
        border: 1px solid #606060;
        margin-top: 20px;
        margin-bottom: 50px;
        font-family: 'Ping';
        width: 190px;
    }
    .filter_button:hover{
        background-color: transparent;
    }
    .mobile_range{
        border-radius: 5px;
        margin-bottom: 10px;
    }
}