.InnerPageFilterSection {
    padding: 5px 15px;
}

.InnerPageFilterSection:hover {
    cursor: pointer;
}

.filterItemBlock {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #C2C2C3;
    ;
}

.filterItemBlock span:hover {
    cursor: pointer;
}

.filterItemBlock svg {
    height: 20px;
    width: 20px;
    fill: white;
    margin-right: 25px;
}

.active>* {
    fill: #4A8AFA !important;
    color: #4A8AFA;
}


@media (max-width: 767px) {
    .InnerPageFilterSection {
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 100%;
        background-color: black;
        position: fixed;
        top: 100;
        bottom: 0;
        z-index: 1000;
        align-items: start;
        height: clamp(70px, 70px, 70px);
        justify-content: space-between;
    }

    .filterItemBlock {
        display: flex;
        max-width:fit-content;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-top: none;
    }   

    .filterItemBlock svg,
    .filterItemBlock span {
        align-self: center;
        margin-right: 0;
    }
    .filterItemBlock span {
        font-size: clamp(12px, 14px, 20px);
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .pickerContainer {
        position: 'relative' 
    }
    .btnWrapper {
        display:block;
        position: fixed;;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
    button {
        background: black
    }
}