.InnerPageDynamicContent {
}

.FullScreenButtonSection {
    width: 20px;
    height: 100%;
    float: right;
    position: relative;
    right : 20px;
    top: 24px;
    margin-left: 10px;
}

.fullscreen_button {
    height: 20px;
    width: 20px;
    float: right;
}

.chart button.active{
    background-color: #4a8afa;
}

.tabs_section {
    padding: 15px 0 ;
}

.tabs_section button[aria-selected='true'] {
    color: #DF7788 !important;
    background-color: #232222 !important;
    margin: 0 !important;
}

.tabs_section button:hover {
    color: #DF7788;
}

.tabs_section button {
    border: none !important;
    color: white;
}

.tabs_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .tabs_section {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}

@media (max-width: 767px) {
    .tabs_section {
        display: grid;
        grid-template-columns: repeat(2, auto); 
    }
    .tabs_section button {
        text-align: start;
    }
    .InnerPageDynamicContent {
        height: auto;
    } 
}
