.bomContainer {

  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  color: #df7788;
  margin-bottom: 20px;
  margin-top: 20px;
}

.section {
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: black;
}

.table th {
  background-color: #df7788;
  color: white;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td a {
  color: #007acc;
  text-decoration: none;
}

.table td a:hover {
  text-decoration: underline;
}

.image {
  width: 90px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}