.guideContainer {
    padding: 0 15px 23px;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guideTitle {
    padding-top: 15px;
    font-size: 24px;
    color: #df7788 !important;
}

.guideSection {
    font-size: 16px;
}

.guideLink {
    color: #df7788;
    transition: color 0.3s ease-in-out;
}

.guideLink:hover {
    color: #4A8AFA;
}

.guideDescription {
    padding-top: 40px;
}

.guideIcon {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.guideMeasureTitle {
    color: #df7788;
    font-size: 24px;
    margin-bottom: 20px;
}

.guideSubTitle {
    color: #df7788;
    font-size: 16px;
    margin-bottom: 10px;
}

.guideTableBlock {
    overflow-x: auto;
}

.guideLink {
    text-decoration: none;
}
