.guideContainer {
    padding: 0 15px 23px;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guideTitle {
    padding-top: 15px;
    font-size: 24px;
    color: #df7788 !important;
}

.guideSection {
    font-size: 16px;
}

.guideSubTitle {
    color: #df7788;
    font-size: 16px;
    margin-bottom: 10px;
}

.guidePoints {
    font-weight: bold;
}
