.statsCard {
  background-color: #232222;
  border: 1px solid #eae6e2;
  border-radius: 5px;
  color: #fff;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.label {
  font-size: 14px;
  color: #f8f8f8;
}

.value {
  font-size: 14px;
}