* {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.4px;
    font-weight: 300;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators{
    display: none;
}

.App {
    background: #232222
}
