* {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 300;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators{
    display: none !important;
}

#root {
    height : 100%
}

.App {
    background: #232222
}

html, body {
    width: 100%;
    /*height: 100%;*/
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    overflow-x: hidden;
}

#root {
    height: 100%;
}

.App {
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.carousel-inner {
    height: 100%;
}

.team_member_dot_section {
    padding-bottom: 20px !important;
    bottom: -20px !important;
}

.team-member-carousel-container {
    padding-bottom: 30px;
}

.hover_inner {
    height: 100%;
    width : 100%;
    background-color: white;
    color: black;
    font-size: 6em;
    border-radius: 5%;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    padding: 30px;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
}

caption {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white !important;
}

tr {
    border-bottom: 1px solid #444746 !important;
    border-left: 1px solid white !important;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    border-spacing: 0;
    border-collapse: separate;
    color : white;
    padding : 18.5px 16px;
}

th {
    background-color: #444746;
    color:white;
    padding : 18.5px 16px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    max-width: 170px;
}

* {
    color : white
}

*:hover {
    cursor: default;
}

.apexcharts-tooltip-title *, .apexcharts-tooltip *, .apexcharts-xaxistooltip *, .apexcharts-menu * {
    color: black !important;
}

.apexcharts-menu-item.exportPNG {
    display: none;
}

.apexcharts-toolbar svg {
    height: auto;
}
