* {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 300;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators{
    display: none !important;
}

#root {
    height : 100%
}

.App {
    background: #232222
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

footer{
    position:relative;
    width: 100vw;
    height: auto;
}

#root {
    height: 100%;
}

.App {
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.carousel-inner {
    height: 100%;
}

.team_member_dot_section {
    padding-bottom: 20px !important;
    bottom: -20px !important;
}

.team-member-carousel-container {
    padding-bottom: 30px;
}

.hover_inner {
    height: 100%;
    width : 100%;
    background-color: white;
    color: black;
    font-size: 6em;
    border-radius: 5%;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    padding: 30px;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
}

caption {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white !important;
}

tr {
    border-bottom: 1px solid #444746 !important;
    border-left: 1px solid white !important;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    border-spacing: 0;
    border-collapse: separate;
    color : white;
    padding : 18.5px 16px;
}

th {
    background-color: #444746;
    color:white;
    padding : 18.5px 16px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    max-width: 170px;
}

* {
    color : white
}

*:hover {
    cursor: default;
}

.apexcharts-tooltip-title *, .apexcharts-tooltip *, .apexcharts-xaxistooltip *, .apexcharts-menu * { 
    color: black !important;
}

.apexcharts-menu-item.exportPNG {
    display: none;
}

.apexcharts-menu-item {
    padding: 6px 2px !important;
}

.apexcharts-toolbar {
    display: flex;
    position: relative;
    min-width: 80%;
}

.apexcharts-toolbar > * {
    width: 100%;
    margin-right: 20px;
}

.apexcharts-toolbar > *:nth-child(3) {
    width: fit-content;
    margin-right: auto; 
}

.apexcharts-toolbar > *:nth-child(n) {
    width: fit-content;
}

.apexcharts-toolbar > *:nth-child(1) {
    margin-right: 0;
    margin-left: 0;
}

.custom-icon {
    position: relative;
}

.custom-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.apexcharts-toolbar div:hover {
    cursor: pointer;
}

.apexcharts-toolbar svg {
    height: auto;
}

.apexcharts-toolbar div:hover svg{
    color : #4A8AFA !important;
    fill : #4a8afa !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    background: white;
    color: black !important;
    font-size: 12px;
    padding: 5px;
}

.footerPadding {
    position: fixed;
    bottom:0;
    height: auto;

}

.custom-icon {
    background-color: transparent;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    
}

.custom-icon:hover {
    border-radius: 6px; 
    background:#656363;;
}

.datePickerWrapper{
    flex: 1;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footerPadding {
        position: relative;
        bottom:0;
        padding-bottom:100px;
        background-color:#333232;
    }
}

.from, .to {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    width: 300px;
    text-align: center;
    border-radius: 0px;
    background-color : #343a40;
}

.from, .to {
    border-right: none;
    background-color: transparent;
     border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    display: inline-flex;
} 

.to{
    border-left: none;
}

.react-datepicker {
    font-family: Arial, sans-serif !important;
    border: 1px solid #fff !important;
    border-radius: 5px !important;
    padding: 10px!important;
    font-size: 16px!important;
    color: black !important;
    height: 400px;
    width: 300px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    background-color: #fff !important;
    align-self: center !important;
}

.react-datepicker:focus {
    outline: none !important;
    border-color: #fff !important;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__header {
    background-color: #fff !important;
    border-bottom: none !important;
}

.react-datepicker__day-names {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 10px !important;
}

.react-datepicker__day-name {
    font-weight: bold !important;
}

.react-datepicker__month {
    margin: 0.4rem !important;
}

.react-datepicker__day {
    padding: 0.4rem !important;
}

.react-datepicker__day:hover {
    background-color: #f0f0f0 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
    margin-top: 0 !important;
    color: black !important; 
}

.react-datepicker__navigation {
    top: 10px !important;
    border: 1px solid #fff !important;
    padding: 10px !important;
    border-radius: 50% !important;
    width: 25px !important;
    height: 25px !important;
    background-color: #fff !important;
    color: #fff !important;
}

.react-datepicker__navigation--previous {
    left: 10px !important;
    margin-right: 1rem !important;
}

.react-datepicker__navigation--next {
    right: 10px !important;
    margin-left: 1rem !important;
}

.react-datepicker__navigation:hover {
    background-color: #fff !important;
}

.react-datepicker__month-container {
    align-self: center;
}

.react-datepicker__day--selected {
    background-color: black !important;
    color: white !important;
    border-radius: 50% !important;
}

.react-datepicker__day--selected:hover {
    background-color: black !important;
    color: white !important;
}