/* Banner.css */

.carousel {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
}

.carousel-item img {
    width: 100%;


}
.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselImg {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: cover;
    /* object-position: 35%!important; */
}
/* If you want to control the spacing between slides */
.carousel-item:not(:last-child) {
    margin-right: 15px;
}

/* Adjust slide appearance if needed */
.carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

/* Banner.module.css */
.carouselContainer {
    overflow: hidden;
    width:100%;
    /* max-width: 1920px; */
    height: 55vh;
    /* background: #232222; */
    z-index: 1;
    position: relative;
    object-fit:contain;
    margin: 0 auto;
}

.carouselItem, .carouselItem img {
    height: 100%;
}

.carousel_text_section {
    top: 30%;
    transform: translateY(-30%);
    width: fit-content;
}

/* .carouselCaption {
    left: 72px !important;
} */

.carouselItem {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}
.carouselItem img {
    width: 100%;
}

.typing-animation {
    animation: typing 4s steps(40) 1s forwards, blink-caret 0.75s steps(2) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-right-color: transparent;
    }
    50% {
        border-right-color: #eae6e2;
    }
}

.carouselItem.active {
    opacity: 1;
    z-index: 1;
    position: relative;
}

.static_name, .animated_text {
    display: flex;
    justify-content: flex-start;
}

.carousel_section  {
    height: 100%;
}

/* .carouselCaption p {
    margin-top: 80px;
} */

.carouselCaption h3 {
    /* font-size: 28px; */
    color: #eae6e2;
}
.captionContainer {
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 3rem;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap; /* Allows stacking on small screens */
    text-align: center;
    color: black;
    /* Ensures alignment when stacked */
}

.leftCaption {
    background: url('https://images-in-website.s3.us-east-1.amazonaws.com/Banner/logo.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y:25%;
    background-position-x: right;
    height: 100%;
    font-size: 5rem; /* Adjust as needed */
    font-weight: bold;
    flex: 1; /* Ensures it takes equal space */
    text-align: right; /* Align to the left on larger screens */
    margin: 5px;
    padding-top: 0;
    color: black;
    font-family:"Ping";
    font-weight: 500;
    text-wrap: nowrap;

}
.leftCaption b{
    color: rgb(13, 13, 13);
    font-weight: 900;
    font-family: sans-serif;
    font-weight: 900;


}

.rightCaption {
    /* max-width: 45%; */
    padding-left: 5%;
    padding-top: 5%;
    font-size: 2.1rem; /* Adjust as needed */
    flex: 1; /* Gives more space to the right text */
    text-align: center; /* Align to the right on larger screens */
    margin: 5px;
    color: black;
}
/* Media query for desktop */



@media (max-width: 1480px) {
    .rightCaption {
        /* max-width: 500px; */
        width: 100%;
        padding-top: 5%;
        font-size: 1.5rem; /* Adjust as needed */
        flex: 1; /* Gives more space to the right text */
        text-align: center; /* Align to the right on larger screens */
        margin: 5px;


        color: black;
    }
    .leftCaption{
        background-position-x: 100%;
    }
}
@media (max-width: 1230px) {
    .captionContainer {

        display: flex;
        flex-direction: column; /* Stack items vertically */
        text-align: center;
        justify-content: flex-start;
        padding-top: 15%;
        align-items: flex-start;
        padding-left: 10%;
        flex-wrap: nowrap; /* Center-align on mobile */
    }
    .leftCaption {
        width: 60%;
        flex: none;
        height:100px;
        background-position-x: left;
        /* padding: 5px; */
        /* font-size: 3.5rem;
        font-weight: bold;
        flex: unset;
        text-align: left;
        padding-top: 0;
        color: black; */

    }

    .rightCaption {
        /* max-width: 500px; */
        width:100% ;
        padding-top: 0%;
        font-size: 1.6rem; /* Adjust as needed */
        flex: none; /* Gives more space to the right text */
        text-align: left; /* Align to the right on larger screens */
        margin: 5px;
        padding: 0;


        color: black;
    }
}


@media (min-width: 768px) {
    .carouselCaption {
        text-align: left;
    }
    .carouselImg {
        max-height: 55vh; /* Adjust for smaller screens */
    }
}

/* Media query for mobile */
@media (max-width: 767px) {
    .carouselContainer {
        height: 30vh;
        margin-bottom: 20px;
    }
    .carouselCaption {
        text-align: left;
        left: 30px !important;
    }
    .carouselCaption h3 {
        font-size: 16px;
        color: #eae6e2;
    }
    .carousel_section  div, .carousel_section img {
        height: 100%;
        object-fit: cover;
        object-position: 28%;

    }
    .animated_text {
        margin-top: 50px;
    }

    .animated_text span {
        font-size: 15px !important;
    }

    .carouselCaption  {
        color: black;
        margin-top: 30px;
    }

    .carouselImg {
        width: 100%;
        height: auto;
        max-height: 90vh;
        object-fit: contain;
    }

    .captionContainer {
        gap: 15px;
        display: grid;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        padding: 15px;
        justify-items: start;
        align-items: baseline;
        justify-content: start;
        align-content: center;
    }
    .leftCaption {
        display: none;


    }
    .rightCaption {
        max-width: 300px;
        padding-top: 0%;
        font-size: 14px; /* Adjust as needed */
        flex: unset; /* Gives more space to the right text */
        text-align: left;
        margin: 5px;
        color: black;
    }
}


@media (max-width: 410px) {
    .rightCaption {
        /* max-width: 230px; */
        padding-top: 5%;
        /* text-wrap: nowrap; */
        font-size: 16px; /* Adjust as needed */
        flex: 1; /* Gives more space to the right text */
        text-align: left; /* Align to the right on larger screens */
        margin: 5px;
        color: black;
    }
}